:root {
  --bs-body-font-family: 'Inter', sans-serif;
  --bs-body-background-color: #f7f6ff;
  --bs-body-background-none: #fff;
  --bs-button-primary: #6644ff;
  --bs-highlight-color: #4e5ba6;
}

html, body {
  margin: 0;
  font-family: var(--bs-body-font-family) !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.btn-primary {
    background-color: var(--bs-button-primary) !important;
    border: 0 !important;
}

.body-background-color {
    background-color: var(--bs-body-background-color);
}

.body-background-none {
    background-color: var(--bs-body-background-none);
}

input:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: rgb(231, 231, 231) !important;
}

.bg-dark input::placeholder,
.bg-dark textarea::placeholder {
  color: #ccc !important; /* Light gray placeholder text */
  opacity: 1; /* Ensure it's not semi-transparent */
}

.border-secondary {
  border-color: #6c757d;
}

.sidebar svg {
  color: var(--bs-highlight-color);
  font-size: 25px;
}

.form-switch .form-check-input {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234e5ba6'/%3e%3c/svg%3e") !important;
  width: 3em;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
  padding: 13px;
}

.form-check-input:checked {
  background-color: #83a2d0;
  border: 0 !important;
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}